

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>

    <section1>
        <div class="sec1div">
            <div class="heading">
                <a href="/"><h1>Restaurant Application</h1></a>
            </div>
            <div class="searchdiv">
                
                <form action="../search/" method="POST">
                    {% csrf_token %}
                    <select name="option" id="opt">
                        <option value="None">Select the option</option>
                        <option value="resId">Restaurant Id</option>
                        <option value="foodId">Food Id</option>
                        <option value="location">Location</option>
                    </select>
                
                    <div id="inputCont">
                        <input type="text" id="searchinp" name="searchinp" placeholder="Search here ......">
                    </div>
                
                    <div id="location-options" style="display:none;">
                        <option value="None">Select Location</option>
                        {% for loc in locations %}
                            <option value="{{ loc.resLocation }}">{{ loc.resLocation }}</option>
                        {% endfor %}
                    </div>
                
                    <button>Submit</button>
                </form>
            </div>

            <div class="sec1div2">
                <div class="sec1div2left">

                    <div class="addrest">
                        <form method="POST">
                            {% csrf_token %}
                            <h2>Add Restaurant </h2>
                            <div class="addform">
                                {{ form.as_p }}
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                </div>
                <div class="sec1div2right">

                    <a href="../addrestaurant" class="linka"><div class="link">Add Restaurant</div></a>
                    <a href="../addfood/" class="linka"><div class="link">Add Food</div></a>
                    <a href="../displayres/" class="linka"><div class="link">Display Restaurant</div></a>
                    <a href="../displayfood/" class="linka"><div class="link">Display Food</div></a>
                    <a href="../delete/" class="linka"><div class="link">Remove Data</div></a>
                    <a href="../update/" class="linka"><div class="link">Update Data</div></a>

                </div>
            </div>
        </div>
    </section1>


    <script src="{% static 'js/script.js' %}"></script>






    
</body>
</html>
